.container {
  border-style: solid;
  display: flex;
  flex-direction: column; /* Stack top and bottom rows */
  border-color: black;
  border-width: 10px;
  flex: 8;
}

.cardzone {
  display: flex;
  flex-direction: row; /* Create a horizontal layout for the top row */
}

.cardImg {
  width: 20%;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.cardImg:hover {
  transform: scale(2);
}

.cardImgContainer {
  display: flex;
  flex-wrap: wrap; /* Wrap the cards when they exceed the container width */
  gap: 10px; /* Adds spacing between the cards */
  padding: 10px;
  width: 100%;
  justify-content: flex-start; /* Align the cards to the left */
  overflow-y: auto; /* Enables vertical scrolling when the cards exceed height */
}

.creatureEnchantment {
  display: flex;
  flex-direction: row; /* Horizontal layout for Creatures and Enchantments */
  width: 100%;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: aliceblue;
  background-color: rgba(240, 248, 255, 0.4);
}

.creatureZone {
  flex: 3; /* 60% of the width */
  border-color: black;
  border-style: solid;
  padding: 10px;
  height: 450px; /* Fixed height */
  overflow-y: auto; /* Scroll vertically if cards exceed the height */
}

.enchantmentZone {
  flex: 2; /* 40% of the width */
  border-color: black;
  border-style: solid;
  padding: 10px;
  height: 450px; /* Fixed height */
  overflow-y: auto; /* Scroll vertically if cards exceed the height */
}

.zoneHeading {
  text-align: center;
}

.landsArtifacts {
  display: flex;
  flex-direction: row; /* Horizontal layout for Lands and Artifacts */
  width: 100%;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: aliceblue;
  background-color: rgba(240, 248, 255, 0.4);
}

.landsZone {
  flex: 3; /* 60% of the width */
  border-color: black;
  border-style: solid;
  padding: 10px;
  height: 450px; /* Fixed height */
  overflow-y: auto; /* Scroll vertically if cards exceed the height */
}

.artifactsZone {
  flex: 2; /* 40% of the width */
  border-color: black;
  border-style: solid;
  height: 450px; /* Fixed height */
  padding: 10px;
  overflow-y: auto; /* Scroll vertically if cards exceed the height */
}
