.container {
  display: flex;
  flex-direction: column; /* Stack top and bottom rows */
  flex: 14;
  height: 100%;
  overflow-y: auto;
}

.cardImg {
  width: 20%;
  transition: transform 0.3s ease;
  transform-origin: center;
}

/* .cardImg:hover {
  transform: scale(2);
} */

.cardImgContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  width: 100%;
  justify-content: flex-start;
  overflow-y: auto;
}

.creatureEnchantment,
.landsArtifacts {
  display: flex;
  height: 50%; /* Each section takes up 50% of the container height */
  min-height: 0; /* This is important for proper flex behavior */
  overflow-y: auto;
}

.creatureEnchantment,
.landsArtifacts {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.creatureZone,
.enchantmentZone,
.landsZone,
.artifactsZone {
  flex: 3;
  padding: 10px;
  height: 100%;
  overflow-y: auto;
}

.creatureZone,
.enchantmentZone,
.landsZone,
.artifactsZone {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.zoneHeading {
  text-align: center;
}
