.container {
  border-style: solid;
  border-color: black;
  border-width: 10px;
  flex: 2;
}

.hand {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.create_button {
  align-self: center;
  justify-self: flex-end;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
