.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sliderContainer {
  display: flex;
  margin: 20px;
  padding-left: 20px;
  scale: 2;
  color: orange;
}
