.app-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.play-container {
  display: flex;
  height: 100%;
  flex: 8;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
